a {
    color: inherit;
    text-decoration: none;
}

.full-cover {
    height: 100vh;
    max-height: 900px;
    width: 100%;
    display: flex; /* Flexbox를 사용하여 내용을 중앙에 배치합니다. */
    align-items: center; /* 세로 축에서 내용을 중앙에 배치합니다. */
    justify-content: center; /* 가로 축에서 내용을 중앙에 배치합니다. */
    padding: 20px; /* 섹션의 내용 주위에 패딩을 추가합니다. */
}

#section1 {
    background-image: url('/data/image/image_main_1.jpg'); /* 이미지 경로를 실제 경로로 변경해주세요. */
    background-position: center center; /* 이미지를 섹션의 중앙에 배치합니다. */
    background-size: cover; /* 이미지가 섹션을 완전히 덮도록 크기를 조절합니다. */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정합니다. */
}

#section2 {
    background-color: #f2f8f4; /* 부드러운 민트 */
}

#section3 {
    background-color: #f4f8f2; /* 부드러운 라임 */
}

#section4 {
    background-color: #f2f4f8; /* 부드러운 스카이블루 */
}

#section5 {
    background-color: #f8f4f2; /* 부드러운 코랄 */
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.footer div {
    padding: 20px;
    border-right: 1px solid #ddd;
}

.footer div:last-child {
    border-right: none;
}

.footer p {
    color: #FFF;
    margin: 0 0 10px;
    font-size: 14px;
}


.footer a:hover {
    color: #aaa; /* 호버 시 링크 색상을 더 어둡게 변경합니다. */
}
